a.button2{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #f8f8f8;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Sen',sans-serif;
    font-weight:400;
    color:#f8f8f8;
    text-align:center;
    transition: all 0.1s;
    width: auto;
    height: auto;
    font-size: 30px;
}

a.button2:hover{
    color:#f1d6ab;
    border-color:#f1d6ab;
}

a.button2:active{
    color: #e3b04b;
    border-color: #e3b04b;
}

@media all and (max-width:30em){
    a.button2{
    display:block;
    margin:0.4em auto;
    }
}

body{
    background-image: url("images/background.png");
    -webkit-text-fill-color: #f8f8f8;
    font-family: 'Lato', sans-serif;
    
    
}
.div-button{
    text-align: center;
    margin: 20%;
}


.title{
    font-family: 'Sen', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#titulo_appweb{
    font-size: 100px;
    display: inline;
    clear: none;
}

#misma_linea{
    display: inline;
    clear: none;
    position: absolute;
    top: 190px;
}

footer{
    bottom: 5px;
    right: 5px;
    float: right;
    position: absolute;
}

#footer {
    position:fixed;
    bottom:5;
}

.div-mid{
    text-align: center;
}

.col-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

