a.button2{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #f8f8f8;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Sen',sans-serif;
    font-weight:400;
    color:#f8f8f8;
    text-align:center;
    transition: all 0.1s;
    width: auto;
    height: auto;
    font-size: 30px;
}

a.button2:hover{
    color:#f1d6ab;
    border-color:#f1d6ab;
}

a.button2:active{
    color: #e3b04b;
    border-color: #e3b04b;
}

@media all and (max-width:30em){
    a.button2{
    display:block;
    margin:0.4em auto;
    }
}

body{
    color: #f8f8f8;
    font-family: 'Lato', sans-serif;
    
    
}
.div-button{
    text-align: center;
    margin: 20%;
}


.title{
    font-family: 'Sen', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#titulo_appweb{
    font-size: 100px;
    display: inline;
    clear: none;
}

#misma_linea{
    display: inline;
    clear: none;
    position: absolute;
    top: 190px;
}

footer{
    bottom: 5px;
    right: 5px;
    float: right;
    position: absolute;
}

#footer {
    position:fixed;
    bottom: 5px;
}

.div-mid{
    text-align: center;
}

.col-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilepic{
    height: 75%;
    width: 75%;
}

.div-parrafo{
    padding: 70px;
    max-width: 1200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -20;
}

.col-yellow1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #e3b04b;
    height: 550px;
    width: 450px;
    position: fixed;
    left: 150px;
    top: 150px;
    color: black;
}

.col-yellow2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #e3b04b;
    height: 550px;
    width: 700px;
    position: fixed;
    left: 700px;
    top: 150px;
    color: black;
}

a.button3{
    display:inline-block;
    padding:0.5em 3em;
    border:0.05em solid black;
    margin:0 0.3em 2em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Sen',sans-serif;
    font-weight:400;
    color: black;
    background-color:  #f3c25f;
    text-align:center;
    transition: all 0.1s;
    width: auto;
    height: auto;
    font-size: 30px;
    
}

a.button3:hover{
    color:#000000;
    border-color:#000000;
    background-color:  #ddaf53;
}


.buttons-yellow{

    display: flex;
    flex-direction: column;
    align-items: center;
    

}