<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <!-- All REST resources will be prefixed by /api  -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>

	<!-- Servlets -->
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>aiss.api.MoovidApplication</param-value>
		</init-param>
	</servlet>		
	
	<!-- Servlet mappings -->
	<!-- All calls to /api/xxx will be sent to the resteasy servlet -->
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>  
  
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>aiss.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GooglePhotosMediaItemCreateController</servlet-name>
    <servlet-class>aiss.controller.photos.GooglePhotosMediaItemCreateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglePhotosMediaItemCreateController</servlet-name>
    <url-pattern>/PhotosCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GooglePhotosLoginController</servlet-name>
    <servlet-class>aiss.controller.photos.GooglePhotosLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglePhotosLoginController</servlet-name>
    <url-pattern>/photoslogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GooglePhotosMediaItemGetController</servlet-name>
    <servlet-class>aiss.controller.photos.GooglePhotosMediaItemGetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglePhotosMediaItemGetController</servlet-name>
    <url-pattern>/PhotosGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GooglePhotosMediaItemSearchController</servlet-name>
    <servlet-class>aiss.controller.photos.GooglePhotosMediaItemSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglePhotosMediaItemSearchController</servlet-name>
    <url-pattern>/PhotosSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SpotifyDemoController</servlet-name>
    <servlet-class>aiss.controller.demo.SpotifyDemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyDemoController</servlet-name>
    <url-pattern>/demo/spotify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LuisDemoController</servlet-name>
    <servlet-class>aiss.controller.demo.LuisDemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LuisDemoController</servlet-name>
    <url-pattern>/demo/luis</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>mashup.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>GooglePhotosAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GooglePhotos</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglePhotosAuthController</servlet-name>
    <url-pattern>/AuthController/GooglePhotos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GooglePhotosOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GooglePhotos</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/?login=1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglePhotosOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GooglePhotos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatQueryController</display-name>
    <servlet-name>ChatQueryController</servlet-name>
    <servlet-class>aiss.controller.main.ChatQueryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatQueryController</servlet-name>
    <url-pattern>/chatquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MusicServlet</display-name>
    <servlet-name>MusicServlet</servlet-name>
    <servlet-class>aiss.controller.youtube.MusicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicServlet</servlet-name>
    <url-pattern>/getsong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobManagerController</display-name>
    <servlet-name>JobManagerController</servlet-name>
    <servlet-class>aiss.controller.main.JobManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobManagerController</servlet-name>
    <url-pattern>/getjob</url-pattern>
  </servlet-mapping>
</web-app>